# Created by .ignore support plugin (hsz.mobi)
*$py.class
*.cover
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.media/
.mypy_cache
.mypy_cache/
.pytest_cache/
.python-version
.ropeproject
.run
.scrapy
.spyderproject
.spyproject
.static_storage/
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
__pycache__/
atlassian-ide-plugin.xml
build/
celerybeat-schedule
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
envoy*.json
envoy*.yaml
fabric.properties
htmlcov/
instance/
lib/
lib64/
local_settings.py
node_modules
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
proto_build
pyvenv.cfg
sdist/
target/
test-reports
var/
venv.bak/
venv/
wheels/
