services:
  sovereign:
    build:
      context: .
      dockerfile: containers/Dockerfile
      target: production
    environment:
      SOVEREIGN_HOST: '0.0.0.0'
      SOVEREIGN_PORT: '8080'
      SOVEREIGN_DEBUG: 'yes'
      # This key is for local development only
      SOVEREIGN_ENCRYPTION_KEY: >
        dU9QkiO3JTDdVXzgtUqr_HPuH4hbLBarrAQmsM1_PKk=:fernet
        KjDxQrHuNrPRHICv1Qef6Sr_XHxsv7oarJdwB98R2wk=:fernet
      # Example passwords
      SOVEREIGN_AUTH_PASSWORDS: 'helloworld,2398yud32r9y#@8d23rydr398d2r39y@@2rd39nd2%%r3y98!!!!'
      SOVEREIGN_ENVIRONMENT_TYPE: local
      SOVEREIGN_CONFIG: file://test/config/config.yaml
      SOVEREIGN_DISCOVERY_CACHE_REDIS_HOST: redis
      SOVEREIGN_DISCOVERY_CACHE_REDIS_PORT: 6379
      SOVEREIGN_DISCOVERY_CACHE_REDIS_PASSWORD: "test123"
    ports:
      - 80:8080
    expose:
      - 80
    networks:
      - default
    depends_on:
      - redis
      - statsd
      - mock


  redis:
    image: redis:7-alpine
    volumes:
      - ./redis.conf:/etc/redis/redis.conf
    command: ["redis-server", "/etc/redis/redis.conf"]
    networks:
      - default


  envoy:
    build:
      context: .
      dockerfile: containers/Dockerfile.envoy
      args:
        IMAGE_TAG: "${IMAGE_TAG:-1.30.0}"
    volumes:
      - .:/app
      - ./logs:/var/log/envoy
    depends_on:
      - sovereign
    working_dir: /app
    environment:
      ENVOY_UID: '0'
      ENVOY_GID: '0'
      ENVOY_LOGLEVEL: info
      ENVOY_CONFIG: /app/test/config/bootstrap_rest.yaml
      ENVOY_ZONE: us-east-1
    networks:
      - default


  tavern-unit:
    build:
      context: .
      dockerfile: containers/Dockerfile
      target: testing
    command: >
      pytest
      -vv
      --ignore=test/acceptance 
      --junitxml=/proj/test-reports/unit.xml
    volumes:
      - ./test-reports:/proj/test-reports
    depends_on:
      - http_server
      - mock
    environment: &test_env_vars
      CONFIG_LOADER_TEST: '{"hello": "world"}'
      SOVEREIGN_ENVIRONMENT_TYPE: local
      SOVEREIGN_CONFIG: file://test/config/config.yaml
    networks:
      - default

  tavern-acceptance:
    build:
      context: .
      dockerfile: containers/Dockerfile
      target: testing
    command: >
      pytest
      -vv
      --ignore=test/unit
      --junitxml=/proj/test-reports/acceptance.xml
      -m "${PYTEST_MARK:-not v1_9_0} or all"
    volumes:
      - ./test-reports:/proj/test-reports
    environment: *test_env_vars
    networks:
      - default

  statsd:
    image: jancajthaml/datadog_mock
    networks:
      - default

  http_server:
    image: halverneus/static-file-server:latest
    volumes:
      - ./test/http_config:/web
    environment:
      DEBUG: true
      SHOW_LISTING: true
    networks:
      - default

  mock:
    build:
      context: containers
      dockerfile: Dockerfile.mock
    command: ["uvicorn", "mock_data:app", "--host=0.0.0.0", "--port=8000"]
    networks:
      - default
    ports:
      - 8000:8000
    expose:
      - 8000

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.100.0/28
