services:
  sovereign:
    platform: linux/amd64
    build:
      context: .
      dockerfile: containers/Dockerfile
      target: production
    environment:
      AWS_ACCESS_KEY_ID: access_key
      AWS_DEFAULT_REGION: ap-southeast-2
      AWS_LOCAL_URL: http://aws:3000
      AWS_SECRET_ACCESS_KEY: secret_key
      LOG_FORMAT: "${LOG_FORMAT:-}"
      S3_BUCKET_NAME: &bucket_name fake-bucket-name
      S3_BUCKET_PREFIX: &bucket_prefix entry-
      SOVEREIGN_AUTH_PASSWORDS: 'helloworld,2398yud32r9y#@8d23rydr398d2r39y@@2rd39nd2%%r3y98!!!!' # Example passwords
      SOVEREIGN_CONFIG: file://test/config/config.yaml
      SOVEREIGN_DEBUG: 'yes'
      SOVEREIGN_ENCRYPTION_KEY: > # This key is for local development only
        dU9QkiO3JTDdVXzgtUqr_HPuH4hbLBarrAQmsM1_PKk=:fernet
        KjDxQrHuNrPRHICv1Qef6Sr_XHxsv7oarJdwB98R2wk=:fernet
      SOVEREIGN_ENVIRONMENT_TYPE: local
      SOVEREIGN_HOST: '0.0.0.0'
      SOVEREIGN_PORT: '8080'
      SOVEREIGN_WORKER_V2_ENABLED: "${SOVEREIGN_WORKER_V2_ENABLED:-0}"
    healthcheck:
      test: 'curl -f localhost:8080/deepcheck || exit 1'
      interval: 120s
      timeout: 5s
      retries: 10
      start_period: 30s
      start_interval: 1s
    ports:
      - "80:8080"
    expose:
      - 80
    networks:
      - default
    depends_on:
      - statsd
      - mock
      - aws

  envoy:
    platform: linux/amd64
    build:
      context: .
      dockerfile: containers/Dockerfile.envoy
      args:
        IMAGE_TAG: "${IMAGE_TAG:-1.30.0}"
    volumes:
      - .:/app
      - ./logs:/var/log/envoy
    depends_on:
      - sovereign
    working_dir: /app
    environment:
      ENVOY_UID: '0'
      ENVOY_GID: '0'
      ENVOY_LOGLEVEL: info
      ENVOY_CONFIG: /app/test/config/bootstrap_rest.yaml
      ENVOY_ZONE: us-east-1
    networks:
      - default

  tavern-unit:
    platform: linux/amd64
    build:
      context: .
      dockerfile: containers/Dockerfile
      target: testing
    command: >
      pytest
      -vv
      --durations=20
      --ignore=test/acceptance 
      --ignore=test/performance 
      --junitxml=/proj/test-reports/unit.xml
    volumes:
      - ./test-reports:/proj/test-reports
    depends_on:
      - http_server
      - mock
      - aws
    environment: &test_env_vars
      CONFIG_LOADER_TEST: '{"hello": "world"}'
      SOVEREIGN_ENVIRONMENT_TYPE: local
      SOVEREIGN_CONFIG: file://test/config/config.yaml
      AWS_ACCESS_KEY_ID: access_key
      AWS_SECRET_ACCESS_KEY: secret_key
      AWS_LOCAL_URL: http://aws:3000
      S3_BUCKET_NAME: *bucket_name
      S3_BUCKET_PREFIX: *bucket_prefix
    networks:
      - default

  tavern-acceptance:
    platform: linux/amd64
    build:
      context: .
      dockerfile: containers/Dockerfile
      target: testing
    command: >
      pytest
      -vv
      --durations=20
      --ignore=test/unit
      --ignore=test/performance 
      --junitxml=/proj/test-reports/acceptance.xml
      -m "${PYTEST_MARK:-not v1_9_0} or all"
    volumes:
      - ./test-reports:/proj/test-reports
    environment: *test_env_vars
    networks:
      - default

  statsd:
    platform: linux/amd64
    image: jancajthaml/datadog_mock
    networks:
      - default

  http_server:
    platform: linux/amd64
    image: halverneus/static-file-server:latest
    volumes:
      - ./test/http_config:/web
    environment:
      DEBUG: true
      SHOW_LISTING: true
    networks:
      - default

  mock:
    platform: linux/amd64
    build:
      context: containers
      dockerfile: Dockerfile.mock
    healthcheck:
      test: 'curl -f localhost:8000/health || exit 1'
      interval: 120s
      timeout: 5s
      retries: 10
      start_period: 30s
      start_interval: 1s
    command: ["uvicorn", "mock_data:app", "--host=0.0.0.0", "--port=8000"]
    networks:
      - default
    ports:
      - "8000:8000"
    expose:
      - 8000

  aws:
    platform: linux/amd64
    build:
      context: containers
      dockerfile: Dockerfile.moto
    ports:
      - "3000:3000"
    environment:
      MOTO_PORT: '3000'
      S3_BUCKET_NAME: *bucket_name
      AWS_DEFAULT_REGION: ap-southeast-2
      AWS_ACCESS_KEY_ID: access_key
      AWS_SECRET_ACCESS_KEY: secret_key
    healthcheck:
      test: "/usr/local/bin/moto-healthcheck.sh"
      interval: 120s
      timeout: 5s
      retries: 10
      start_period: 30s
      start_interval: 1s
    networks:
      - default

  publisher:
    platform: linux/amd64
    build:
      context: .
      dockerfile: containers/Dockerfile
      target: publish
    networks:
      - default

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.100.0/28
