requests
PyYAML
jinja2
quart
flask-log-request-id
hypercorn
structlog
cryptography
jsonschema
datadog
cachelib
h11~=0.8.1
sentry-sdk[flask]

pytest
pytest-mock
pytest-timeout
invoke
pylint
tavern

sphinx
sphinx_rtd_theme
autodoc

docker-compose
twine
