requests
PyYAML
jinja2
quart==0.7.1
flask-log-request-id
hypercorn==0.4.4
structlog
cryptography
jsonschema
datadog
werkzeug

pytest
pytest-mock
pytest-timeout
invoke
pylint
tavern

sphinx
sphinx_rtd_theme
autodoc

docker-compose
twine