quart~=0.10
hypercorn~=0.8
h11~=0.7

requests
PyYAML
jinja2
structlog
cryptography
jsonschema
datadog
cachelib
schedule
pydantic
glom

pytest<4.6.0
pytest-mock
pytest-timeout
invoke
pylint
tavern

sphinx
sphinx_rtd_theme
autodoc

docker-compose
twine
