resources:
  - name: rds
    virtual_hosts:
    {% for instance in instances %}
      - name: {{ instance.name }}_virtualhost
        domains: {{ instance.domains|tojson }}
        routes:
        - match:
            path: /say_hello
          direct_response:
            body:
              inline_string: '{"message": "Hello!", "host_provided": "{{ host_header }}"}'
            status: 200
          response_headers_to_add:
            - header:
                key: Content-Type
                value: application/json
        - match:
            prefix: /
          route:
            cluster: {{ instance.name }}_cluster
        {% if instance.routes %}
        {% for route in instance.routes %}
        - match:
            path: {{ route }}
          route:
            cluster: {{ instance.name }}_cluster
        {% endfor %}
        {% endif %}
    {% endfor %}
  - name: static_route_config
    virtual_hosts:
      - name: static
        domains:
          - notreal.local
        routes:
        - match:
            path: /
          direct_response:
            body:
              inline_string: Hello world
            status: 200
