@use "bulma/sass/utilities" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: #433fca,
  $link: #6c90ec,
);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

// Force the navbar menu to not collapse
$desktop: 1px;
$body-background-color: rgb(250, 250, 250);

// Import only what you need from Bulma
@forward "bulma/sass/base";
@forward "bulma/sass/elements/tag";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/components/panel";
@forward "bulma/sass/components/pagination";
@forward "bulma/sass/components/dropdown";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/form";
@forward "bulma/sass/helpers";
@forward "bulma/sass/utilities";

@forward "bulma/sass/themes";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
